<div class="app-widgets-address-finder">
    <div data-dojo-type="app/widgets/GeocoderStore" data-dojo-attach-point="geoStore"></div>
    <div><input data-dojo-type="dijit/form/ComboBox" data-dojo-attach-point="searchBox"
                data-dojo-props="autoComplete: false,
                                 placeHolder: 'Search for a location',
                                 searchAttr: 'formatted_address'"/>
    </div>
    <div class="searchOptions" data-dojo-attach-point="optionsList">

    </div>
</div>